* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

}

.child1 {
    background-color: red;
    flex-grow: 9;
    flex-basis: 200px;
}

.child2 {
    background-color: blue;
    flex-grow: 3;
    flex-basis: 200px;
}

.child {
height: 200px;
    flex: 1 1 400px;
    background-color: #772727;
    width: 100px;
    /* margin: 10px; */
    text-align: center;
    line-height: 75px;
    font-size: 30px;
        /* flex:  500px; */
}